@import url("normalize.css");


/* -------------------- GLOBAL DEFAULTS */
*{
    box-sizing: border-box;
}
    body {
        background-color:rgb(255, 254, 252);
    }


/* -------------------- HEADINGS AND TYPE */
h1 { background-color: rgb(249, 155, 3);
}

img,
iframe,
video {
    max-width: 100%;
}
/* -------------------- LAYOUTS */
.layout-wide {
    background-color: rgb(250, 238, 222);

    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    padding:3%;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */