@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* -------------------- GLOBAL DEFAULTS */
* {
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4;

}

body {
    font-family: 'Lato', sans-serif;
}

a {
    color: rgb(41, 75, 62)
}

a:hover {
    color: rgb(64, 156, 79);
   
}

a:visited {
    color: brown
}

/* -------------------- HEADINGS AND TYPE */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;

}

h3 {
    font-size: 26px;
}


img,
iframe,
video {
    max-width: 100%;
}



h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 24px;
}

p {
    font-family: 'Lato', sans-serif;


}

/* -------------------- LAYOUTS */
.layout-wide {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

img { 
    max-width: 100%;
    
}

.content {

    columns: 1;
    column-gap: 10px;

}
@media screen and (min-width: 500px) {
    .content {
        columns: 2;
    }
}

@media screen and (min-width: 800px) {
    .content {
columns: 4;
margin-bottom: 20px;
    }
}
/* -------------------- HEADER */
.main-heading {
    color: rgb(10, 56, 18);
    font-size: 50px;
    padding: 2cm;
    text-align: center;
}

@media screen and (min-width:500px) {
    .main-heading {
        color: rgb(47, 76, 57);
        font-size: 48px;
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media screen and (min-width: 768px) {
    .main-heading {
        color: rgb(37, 53, 49);
        font-size: 62p x;

    }
}

body {
    font-family: Arial, Helvetica, sans-serif
}

/* -------------------- NAVIGATION */
.main-nav {
    list-style: none;
    padding: 0px;
    text-align: center;

    max-height: 0;
    overflow: hidden;

}

.main-nav.open {
    max-height: 100vh;

}

.main-nav a {
    display: block;
    color: rgb(37, 53, 49);
    padding-top: 5px;
    padding-bottom: 5px;

}

.nav-prompt {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(5, 62, 5);
width: 50%;
padding-top: 5px;
padding-bottom: 5px;


}

@media screen and (min-width:800px) {
    .main-nav {
        display: flex;
        justify-content: space-between;
    max-height: unset;
    }

}




/* -------------------- FOOTER */


footer .layout-wide {
    text-align: right;
}

/* -------------------- MODULES */

.content-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media screen and (min-width:768px) {

    .content-item {
        grid-template-columns: 1fr 1fr;
    }
}