@import url("normalize.css");


/* -------------------- GLOBAL DEFAULTS */
*{
    box-sizing: border-box;
}
    body {
        background-color:rgb(249, 246, 241);
    }
 

/* -------------------- HEADINGS AND TYPE */
h1 { background-color: rgb(239, 192, 151);
}

img,
iframe,
video {
    max-width: 100%;
}
/* -------------------- LAYOUTS */
.layout-wide {
    background-color: rgb(250, 238, 222);

    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    padding:3%;
}



/* -------------------- HEADER */
.main-heading {
background-color: aliceblue;
color:blanchedalmond;
font-size: 24px;
padding: 1cm;
text-align: center;

}

@media screen and (min-width:500px) {.main-heading {
    background-color: navajowhite;
    color:brown;
    font-size:48px;
    border: 10px rgb(121, 122, 219)
}

}

@media screen and (min-width: 768px) {
    .main-heading {
        background-color: burlywood;
        color: white;
        font-size: 72px;
        border-color: oldlace;


    }
}
/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}